// COLORS ====================

// Brand
$pink: #F39;

// Fonts, borders, ui elements
$base-font-color: #3E0000;

// Gotham SSm (unavailable, find something close). Maybe Use Proxima Nova?
$font-family: $Source-Sans-Pro;