@import "bourbon", "neat";
@import "bitters/*";

body {
  padding: 5%;

  font-size: 85%;

  @include media($small-screen) {
    font-size: 91%;
  }
  @include media($medium-screen) {
    font-size: 96%;
  }
  @include media($large-screen) {
    font-size: 150%; 
  }
}

.outer-container {
  @include outer-container;
}

.image-container {
  width: 75%;
  margin-bottom: 4em;
  padding: 0.5em;

  border-radius: 3px;
  img {
    display: block;
  }
}

.intro {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 4em;

  span {
    font-weight: 800;
    text-decoration: underline;
    padding: 0 0.5em 0.5em 0;
  }
}

.samples {
  margin: 0 auto;
}

.yellow {
  background-color: yellow;
}














