@import "bourbon", "neat";
@import "bitters/*";

body {

  font-size: 85%;

  @include media($small-screen) {
    font-size: 91%;
  }
  @include media($medium-screen) {
    font-size: 96%;
  }
  @include media($large-screen) {
    font-size: 150%; 
  }
}

.outer-container {
  @include outer-container;
}

.image-container {
  width: 50%;
  border: 2px solid darkgrey;
  border-radius: 3px;
  img {
    display: block;
  }
}


















