@import "normalize";
@import "bourbon", "neat";
@import "bitters/*";



@import "site-ui/*";

body {
  margin: 0;
}

.outer-container {
  @include outer-container;
}

.image-container {
  width: 75%;
  margin-bottom: 4em;
  padding: 0.5em;

  border-radius: 3px;
  img {
    display: block;
  }
}

header {
  margin-bottom: 4em;
  padding: 4em 0;
  background-color: $base3;
}

.intro {

  margin: 0 auto;

  @include media($small-screen) {
    width: 80%;
    font-size: 91%;
  }
  @include media($medium-screen) {
    width: 75%;
    font-size: 96%;
  }
  @include media($large-screen) {
    width: 70%;
    font-size: 150%; 
  }

  p {
    margin: 0;
  }


  span {
    color: $blue;
    font-weight: 700;
    padding: 0 0.5em 0.5em 0;
  }
}

.samples {
  margin: 0 auto;
}